
.swap {
  padding: 0 .1rem;
  border-bottom: 1px solid #bbb;
}
//.swap1 {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding: .15rem .2rem;
//}
.header {
  position: relative;
  padding: 0 .05rem;
  line-height: .5rem;
  .fa {
    position: absolute;
    left: 0;
    vertical-align: middle;
    line-height: .5rem;
  }
}
.fa::before{
  padding: .05rem;
  font-size: 25px;
  vertical-align: bottom;
}
.preLogin {
  width: 70%;
  margin: 0 auto;
  padding: .5rem 0;
  border-bottom: 1px solid #000;
  .appLogo {
    width: 60%;
    height: 1rem;
  }
  p {
    padding: .2rem 0;
  }
  .btn {
    border: none;
    outline: none;
    color: #fff;
    background: #008000;
    border-radius: .05rem;
  }
}
.preLogin .appLogo {
  width: 60%;
  height: 1rem;
}
.preLogin .btn {
  border: none;
  outline: none;
  color: #fff;
  background: #008000;
  border-radius: .05rem;
}