.swap {
    padding: 0 .1rem;
    border-bottom: 1px solid #bbb;
}
.header {
    position: relative;
    padding: 0 .05rem;
    line-height: .5rem;
}
.header .fa {
    position: absolute;
    left: 0;
    vertical-align: middle;
    line-height: .5rem;
}