.myKeep {
  background: #fbf3d0;
  min-height: 100vh;
  .bindMethod {
    z-index: 9999;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: .5rem;
    padding: .05rem 0;
    background: #ffe57e;
    .bindBanner{
      width: 47%;
      text-align: center;
      img{
        width: 70%;
        padding: 0.1rem;
      }
    }
    .stick{
      width: 3px;
      height: 0.25rem;
      background: #632a04;
    }
    .active{
      border-bottom: 3px solid #fcc12e;
    }
  }
  .ListOfVideo{
    padding: .2rem;
    .unitOfVideo{
      position: relative;
      padding: 0 .1rem;
      margin-bottom: .2rem;
      background: mediumpurple;
      border-radius: 5px;
      .boxTop{
        display: flex;
        align-items: center;
        padding-bottom: .1rem;
        video{
          //display: none;
        }
        .topLeft{
          display: inline-block;
          img{
            width: 14vw;
            height: 14vw;
            border-radius: 50%;
          }
        }
        .topRight{
          padding: 0 .1rem;
          color: #fff;
          p{
            font-size: 20px;
            font-weight: 600;
            color: #000;
          }
          span{
            padding: .05rem;
          }

        }
      }
      .main{
        position: relative;
        margin: 0 auto;
        width: 80%;
        padding: .1rem;
        color: #fff;
        .videoIcon{
          position: absolute;
          right: .1rem;
          top: .1rem;
          width: .4rem;
        }
        button{
          z-index: 999;
          position: relative;
          margin: .2rem 0;
          outline: none;
          border-color: #fff;
          background: none;
        }
        .bg{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          opacity: .4;
          width: 100%;
          height: 100%;
        }
      }
    }
    .footer{
      position: relative;
      width: 100%;
      margin-top: .05rem;
      left: 0;
      bottom: 0;
      img{
        padding: .03rem;
        width: 8vw;
        vertical-align: bottom;
      }
      .pull-right{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
      }
    }
  }
  .ListOfArticle{
    padding: .15rem;
    .unitOfArticle{
      display: flex;
      height: 35vw;
      margin: .1rem 0;
      background: #afccf8;
      border-radius: 10px;
      .cover{
        width: 35vw;
        height: 35vw;
        border: 5px solid #fcea6b;
      }
      .intro{
        position: relative;
        flex: 1;
        padding: .05rem .05rem 0;
        font-size: 12px;
        background: deepskyblue;
        .A-Title{
          font-size: 14px;
          color: #afccf8;
          padding: 0;
        }
        p{
          padding: .05rem 0 0
        }
        .footer{
          position: absolute;
          width: 100%;
          margin-top: .05rem;
          left: 0;
          bottom: 0;
          img{
            padding: .03rem;
            width: 8vw;
            vertical-align: bottom;
          }
          .pull-right{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0,-50%);
          }
        }
        //.footer{
        //  position: absolute;
        //  width: 100%;
        //  left: 0;
        //  bottom: 0;
        //  img{
        //    padding: .05rem;
        //    width: 8vw;
        //    vertical-align: bottom;
        //  }
        //  .pull-right{
        //    position: relative;
        //    top: 50%;
        //    right: 0;
        //    transform: translate(0,-50%);
        //  }
        //}
      }
    }
  }
  .banner{
    padding-top: 1.4rem;
  }
  .align{
    padding-bottom: 10px;
  }
  .unitOfArticle .footer{
    position: absolute;
  }
}









































