<div class="authorize">
    <div class="swap">
        <div class="header btn-block text-center">
            <span ng-click="vm.closeApp()"  class="fa fa-angle-left pull-left">&nbsp;&nbsp;取消</span>
            <span>求学大作战</span>
        </div>
    </div>
    <div class="preLogin">
        <div>
            <img src="" alt="求学大作战" class="appLogo">
        </div>
        <p>登录后开发者将获得以下权限</p>
        <p><img src="../images/point.png" class="dot">获得你的公开信息（昵称、头像等）</p>
        <button class="btn btn-lg btn-block" ng-click="vm.login()">确认登录</button>
    </div>
</div>