<div class="all">
    <div style="height:20px ;"></div>
    <div class="addArticle">
        <div class="title">修改密码</div>
        <form  name="myForm" ng-submit="PostForm()"  >
                <div class="addContent">
                        <div class="passtitle">输入旧密码: <input ng-model="passwordSaved" type="password" placeholder="输入旧密码" name="password"  required></div>
                        <div style="height: 20px;">
                                <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                        <span ng-show="myForm.password.$error.required">内容不能为空</span>
                                    </span>
                        </div>
                        <div class="passtitle">设置新密码: <input  ng-model="passwordNew" type="password" placeholder="设置新密码" name="newpassword" ng-pattern=/^[a-zA-Z0-9]{6,25}$/  required></div>
                        <div style="height: 20px">
                                <span style="color:red" ng-show="myForm.newpassword.$dirty && myForm.newpassword.$invalid">
                                        <span ng-show="myForm.newpassword.$error.required">内容不能为空</span>
                                        <span ng-show="myForm.newpassword.$error.pattern">请输入6位数以上密码</span>
                                    </span>
                        </div>
                        <div class="passtitle">确认新密码: <input ng-blur="passwordEntry()" ng-model="passwordConfirm" type="password" placeholder="请再次输入并确认新密码" name="newpasswords" ng-pattern=/^[a-zA-Z0-9]{6,25}$/  required></div>
                        <div style="height: 20px;">
                                <span style="color:red" ng-show="myForm.newpasswords.$dirty && myForm.newpasswords.$invalid">
                                        <span ng-show="myForm.newpasswords.$error.required">内容不能为空</span>
                                        <span ng-show="myForm.newpassword.$error.pattern">请输入6位数以上密码</span>


                                    </span>
                                    <span style="color:red" ng-show="Entry">两次密码不一致</span>

                        </div>
                    </div>
                    <div class="keep">
                        <button ng-disabled="myForm.$invalid" ng-click="onlick()" ng-model="onbutton"  class="btn btn-success">保存</button>
                    </div>
        </form>
    </div>
</div>
