.tdone .th1 {
  width: 7%;
}
.tdone .th2 {
  width: 7%;
}
.tdone .th3 {
  width: 6%;
}
.tdone .th4 {
  width: 8%;
}
.tdone .th5 {
  width: 8%;
}
.tdone .th6 {
  width: 6%;
}
.tdone .th7 {
  width: 8%;
}
.tdone .th8 {
  width: 8%;
}
.tdone .th9 {
  width: 10%;
}
.tdone .th10 {
  width: 6%;
}
.tdone .th11 {
  width: 18%;
}
.vidertd .th1 {
  width: 7%;
}
.vidertd .th2 {
  width: 8%;
}
.vidertd .th3 {
  width: 6%;
}
.vidertd .th4 {
  width: 8%;
}
.vidertd .th5 {
  width: 9%;
}
.vidertd .th6 {
  width: 8%;
}
.vidertd .th7 {
  width: 8%;
}
.vidertd .th8 {
  width: 8%;
}
.vidertd .th9 {
  width: 12%;
}
.vidertd .th10 {
  width: 6%;
}
.vidertd .th11 {
  width: 16%;
}
